@model DataMaster
@{ ViewData["Title"] = "Delete Todo"; }

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <form asp-controller="DataMaster" asp-action="Delete" method="post">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Delete todo item? this process is irreversible</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Text"></label>
                        <input asp-for="Text" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Type"></label>
                        <input asp-for="Type" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label>Is active</label>
                        <input asp-for="Isactive" type="checkbox" class="flat-red" disabled />
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="//DataMaster/DataMasters" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </form>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{

}


@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}

