    @model coderush.Models.ViewModels.LeadMastersViewModel
    @{ ViewData["Title"] = "LeadMaster Form"; }

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                @ViewData["Title"]
            </h1>
            <p>
                @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
            </p>

        </section>
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <form asp-controller="LeadMaster" enctype="multipart/form-data" asp-action="SubmitForm" method="post">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create or edit existing LeadMaster item</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                    title="Collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <input type="hidden" asp-for="id" />
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone"></label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="Technologies"></label>
                            @*@Html.DropDownList("Selection", new SelectList(ViewBag.SelectionList, "Value", "Text"), new { @class = "form-control", @id = "ddlSelectionList" })*@
                            <select name="technologies" class="form-control" asp-items="@ViewBag.LeadTechnologiesList" asp-for="Technologies"></select>
                            <span asp-validation-for="Technologies" class="text-danger"></span>
                            @*<span class="text-danger hidespan spanSelection">Please select Type</span>*@
                        </div>
                        <div class="form-group">
                            <label asp-for="FileUpload"></label>
                            <input type="file" asp-for="FileUpload" id="FileUpload" class="form-control" />
                            <span asp-validation-for="FileUpload" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                        </div>

                        <div class="form-group">
                            <label asp-for="IsActive"></label>
                            <input asp-for="IsActive" type="checkbox" id="ckisactive" class="flat-red" />
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="/LeadMaster/LeadIndex" class="btn btn-default">Back</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </form>

            <!-- /.box -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->


    @section Styles{
        <!-- DataTables -->
        <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">

    }


    @section Scripts{

        <partial name="_ValidationScriptsPartial" />
        @*<script>
            var fileUpload = $("#FileUpload").get(0);
            var files = fileUpload.files;
            var file_size = files[0].size;
            if (file_size > 647888) {
                $("#file_error").html("<p style='color:#FF0000'>File size is greater than 300kb</p>");
                $(".file_upload1").css("border-color", "#FF0000");
                return false;
            }

            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

        </script>*@
        @*<script type="text/javascript">

                $('#btnsave').click(function () {
                    debugger
                    var id = $("#hideid").val();
                    var type = $("#ddlSelectionList option:selected").val();
                    var text = $("#datatext").val();
                    var description = $("#datadescription").val();
                    var isactive = $("#ckisactive").is(":checked");

                    var Isvalid = true;
                    if (text == null || text == undefined || text == "") {
                        $("#datatext").attr('maxlength', '50');
                        $(".spantext").show();
                        Isvalid = false;
                    }

                    if (description == null || description == undefined || description == "") {
                        $(".spandescription").show();
                        Isvalid = false;
                    }

                    if (type == null || type == undefined || type == "") {
                        $(".spanSelection").show();
                        Isvalid = false;

                    }
                    if (!Isvalid) {
                        return false;
                    }
                    $(".text-danger").hide();


                    var fileData = new FormData();
                    fileData.append('Id', id);
                    fileData.append('Type', type);
                    fileData.append('Text', text);
                    fileData.append('Description', description);
                    fileData.append('isactive', isactive);


                    $.ajax({
                        url: '/DataMaster/SubmitForm',
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: fileData,
                        success: function (result) {
                            $("#AddData").modal('hide');
                            alert(result.message);
                            window.location.reload();
                        },
                        error: function (err) {
                            alert("Fail!");
                        }
                    });
                });


            </script>*@

    }