@using Microsoft.AspNetCore.Identity
@model LeaveCountViewModel
@inject UserManager<ApplicationUser> _userManager
@{ ViewData["Title"] = "Leave Form";
    var user = await _userManager.GetUserAsync(User);
    var roles = await _userManager.GetRolesAsync(user);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <form asp-controller="LeaveCount" enctype="multipart/form-data" asp-action="SubmitForm" method="post">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Add or Edit Existing Leave</h3>  
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input id="levuserid" asp-for="UserName" class="form-control" readonly />
                        <input type="hidden" asp-for="Userid" value="@Model.Userid" />
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">

                            <label asp-for="Fromdate"></label>
                            <input type="date" asp-for="Fromdate" id="levfrmdate" class="form-control" />
                            <span asp-validation-for="Fromdate" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@

                        </div>
                        <div class="col-md-6">
                            <label asp-for="Todate"></label>
                            <input id="levtodate" type="date" asp-for="Todate" class="form-control" />
                            <span asp-validation-for="Todate" class="text-danger"></span>
                            @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                        </div>

                    </div>
                    <div class="form-group">
                        <label asp-for="Count"></label>
                        <input id="levcount" asp-for="Count" class="form-control" type="number" maxlength="15" />
                        <span asp-validation-for="Count" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="EmployeeDescription"></label>
                        <textarea asp-for="EmployeeDescription" rows="4" cols="50" type="text" id="levdescription" value="" class="form-control"></textarea>
                        <span asp-validation-for="EmployeeDescription" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>
                    @*@if (roles.Contains("SuperAdmin") || roles.Contains("HR"))
                        {
                            <div class="form-group">
                                <label asp-for="Isapprove"></label>
                                <input asp-for="Isapprove" type="checkbox" id="isaprv" class="flat-red" />
                            </div>}*@
                    <div class="form-group" style="display:none">
                        <label>Isapprove</label>
                        <input type="checkbox" id="isaprv" class="flat-red" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="FileUpload"></label>
                        <input type="file" asp-for="FileUpload" class="form-control" />
                        <span asp-validation-for="FileUpload" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="/LeaveCount/LeaveIndex" class="btn btn-default">Back</a>
                    <button type="submit" @*id="btninsert"*@ class="btn btn-primary">Save</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </form>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/LeaveCount.js"></script>
    <script type="text/javascript">

        $('#levtodate').on('change', function () {
            var fromdate = $('#levfrmdate').val();
            var todate = $('#levtodate').val();
            if (todate < fromdate) {
                alert('To date should be greater than From date.');
                $('#levtodate').val('');
            }
        });
    </script>
}