@model coderush.Models.ViewModels.ExpenseMasterViewModel
@{ ViewData["Title"] = "Expense Form"; }

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewData["Title"]
        </h1>
        <p>
            @await Html.PartialAsync(PartialView.StatusMessage, TempData[StaticString.StatusMessage])
        </p>

    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <form asp-controller="ExpenseMaster" enctype="multipart/form-data" asp-action="SubmitForm" method="post">
            <div class="box">
                <div class="box-header with-border">    
                    <h3 class="box-title">Create or edit existing Expense item</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                                title="Collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Exptype"></label>
                        @*@Html.DropDownList("Selection", new SelectList(ViewBag.SelectionList, "Value", "Text"), new { @class = "form-control", @id = "ddlSelectionList" })*@
                        <select name="exptype" class="form-control" asp-items="@ViewBag.ExpensesList" asp-for="Exptype">
                            <option value="">-- Select --</option>
                        </select>
                        <span asp-validation-for="Exptype" class="text-danger"></span>
                        @*<span class="text-danger hidespan spanSelection">Please select Type</span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="ExpName"></label>
                        <input asp-for="ExpName" class="form-control" />
                        <span asp-validation-for="ExpName" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>

                    <div class="form-group">
                        <label asp-for="ExpenseDate"></label>
                        <input asp-for="ExpenseDate" class="form-control" />
                        <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>  

                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" rows="4" cols="50" type="text" value="" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                        @*<span class="text-danger hidespan spandescription">Please enter description</span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="FileUpload"></label>
                        <input asp-for="FileUpload" type="file" class="form-control" />
                        <span asp-validation-for="FileUpload" class="text-danger"></span>
                        @*<span class="text-danger hidespan spantext">Please enter Text</span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="isactive"></label>
                        <input asp-for="isactive" type="checkbox" id="ckisactive" class="flat-red" />
                    </div>

                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <a href="/ExpenseMaster/ExpenseIndex" class="btn btn-default">Back</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <!-- /.box-footer-->
            </div>
        </form>

        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/adminlte/components/datatables.net-bs/css/dataTables.bootstrap.min.css">

}


@section Scripts{

    <partial name="_ValidationScriptsPartial" />

    @*<script type="text/javascript">

            $('#btnsave').click(function () {
                debugger
                var id = $("#hideid").val();
                var type = $("#ddlSelectionList option:selected").val();
                var text = $("#datatext").val();
                var description = $("#datadescription").val();
                var isactive = $("#ckisactive").is(":checked");

                var Isvalid = true;
                if (text == null || text == undefined || text == "") {
                    $("#datatext").attr('maxlength', '50');
                    $(".spantext").show();
                    Isvalid = false;
                }

                if (description == null || description == undefined || description == "") {
                    $(".spandescription").show();
                    Isvalid = false;
                }

                if (type == null || type == undefined || type == "") {
                    $(".spanSelection").show();
                    Isvalid = false;

                }
                if (!Isvalid) {
                    return false;
                }
                $(".text-danger").hide();


                var fileData = new FormData();
                fileData.append('Id', id);
                fileData.append('Type', type);
                fileData.append('Text', text);
                fileData.append('Description', description);
                fileData.append('isactive', isactive);


                $.ajax({
                    url: '/DataMaster/SubmitForm',
                    type: "POST",
                    contentType: false,
                    processData: false,
                    data: fileData,
                    success: function (result) {
                        $("#AddData").modal('hide');
                        alert(result.message);
                        window.location.reload();
                    },
                    error: function (err) {
                        alert("Fail!");
                    }
                });
            });


        </script>*@

}